.repo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.repoRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.repoRow > div {
  min-width: 400px;
}
