.communityDropdown {
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 9px 20px 8px #0000000d, 0px 3px 6px -4px #0000001f;
  cursor: pointer;
  text-align: center;
  width: 100%;
  left: 0 !important;
  top: 48px !important;

  :global {
    .ant-dropdown-menu {
      box-shadow: none;
    }

    .ant-dropdown-menu-item:hover {
      background: #1650ff0a;
      border-radius: 6px;
    }

    .ant-dropdown-menu-item-icon {
      font-size: 18px;
      margin: 0 4px 0 19px;
      color: #292d3b;
      justify-content: flex-end;
    }

    .ant-dropdown-menu-title-content {
      font-size: 14px;
      color: #1a1b25e0;
      line-height: 32px;
      flex: 0;
    }
  }
}

.experience {
  :global {
    min-width: 146px;
    height: 100%;
  }
}

.arrowIcon {
  vertical-align: baseline;
  font-size: 12px;
  transition: all 0.5s !important;
}
